<div class="container my-4 col-md-7">
    <h2 class="my-2">All tasks</h2>
    <div *ngIf="this.todos.length === 0; else elseBlock" class="text-center text-danger">
        <h4>No todos to display.</h4>
    </div>
    <ng-template #elseBlock>
        <div class="tasklist-wrapper">
            <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
                <ng-container *ngFor="let todo of todos; index as i">
                    <ngb-panel [title]="todo.title">
                        <ng-template ngbPanelContent>
                            <div class="d-flex flex-column">
                                <p>{{todo.desc}}</p>
                                <div class="action-btns ms-auto my-2">
                                    <button class="btn btn-sm btn-secondary">Edit</button>
                                    <button class="btn btn-sm btn-danger mx-2"
                                        (click)="deleteTodo(todo)">Delete</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ng-container>
            </ngb-accordion>
        </div>
    </ng-template>
</div>